<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="../../public/style.css">
</head>

<body>
    {{{body}}}
    <p>THIS IS A TEST FOR THE NEW WEATHER APP!</p>
</body>

</html>
