<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    
    <link rel="icon" type="image/png" href="images/kitesurf.png">

    {{!-- My Stylesheet --}}
   <link rel="stylesheet" type="text/css" href="css/style.css">

   {{!-- Additional Weather Icons --}}
    <link href="css/open-weather-icons.css" rel="stylesheet" type="text/css">
    
    {{!-- Bootstrap --}}
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>




{{!-- Font Awesome --}}
    <script src="https://kit.fontawesome.com/4dfa17635e.js" crossorigin="anonymous"></script>

  {{!-- Custom Fonts --}}
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');</style>

    
    
</head>

<body class="bg-image" style="background-image: url('images/morten-soerensen-Fm2aEv7uqYk-unsplash.jpg');
            background-repeat: no-repeat; background-size: cover; background-position: center; height:100vh" id="backgroundImage">


   <div class="nav-menu" id="homeIcon">
            <a href="/"><i class="fa fa-home" style="color: white;" id="homeImage"></i></a>

    </div>

    

    
    
        {{{body}}}
    
    
    
</body>

</html>
