<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    {{!-- <a href="https://www.flaticon.com/free-icons/kitesurf" title="kitesurf icons">Kitesurf icons created by photo3idea_studio - Flaticon</a> --}}
    <link rel="icon" type="image/png" href="../../public/images/kitesurf.png">

    {{!-- Bootstrap --}}
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../../public/style.css">
    
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="conatiner-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="../../public/images/kitesurf.png">KiteSurfing</a>
            </div>

        </div>

    </nav>
    
    
        {{{body}}}
    
    
    
</body>

</html>
