
<div class="px-4 py-5 my-5 text-center">
    <a href="https://www.flaticon.com/free-icons/kitesurf" title="kitesurf icons"><img class="d-block mx-auto mb-4" src="images/kitesurf.png" alt="" width="70"></a>
    <h1 class="display-5 fw-bold">Kite Surfing Weather App</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quick app designed to check your favourite kite surfing hotspots in Auckland, New Zealand.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        {{!-- <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> --}}

        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg">
            <option value="" selected disabled>Please select your destination</option>
            <option value="1">Bayswater </option>
            <option value="2">Cheltenham</option>
            <option value="3">Orewa</option>
            <option value="4">Shoal Bay</option>
            <option value="5">Muriwai</option>
            <option value="6">St Heliers</option>
            <option value="7">Shakespeare Regional Park</option>
            <option value="8">The Spit</option>
        </select>

        <button type="submit" class="btn btn-primary">
            <i class="fas fa-arrow-right" style="color: white;"></i>
            </button>

      </div>
     
      
    </div>
    
  </div>
