
#backgroundImage{
    background-attachment: fixed;
}

#navBar{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .5);
    font: rgba(255, 255, 255, 0.1);
}

#homeLabel{
    color: black;
}

#homeIcon{
    padding: 10px;
    
}

#weather-table{
    box-shadow: 0px 31px 35px -26px #080c21;
    font-family: 'Roboto', sans-serif;
}

#wind-direction{
    font-family: 'Roboto', sans-serif;
}

#time{
  font-size: small;
}

*
{
  margin: 0;
  padding: 0;
  outline: none;
}

#weather-container{
  padding-top: 2vw;
  align-items: center;
  max-width: 90%;
  align-items: center;
}

.first-row{
  display: flex;
  flex-direction: row;
}

.weather-widget
{
  position: relative;
  width: 300px;
  max-height: 500px;
  margin: 50px auto;
  background-color: #fcfdfdd3;
  
  border-radius: 9px;
  padding: 25px;
  box-shadow: 0px 20px 40px -26px #080c21;
  font-family: 'Roboto', sans-serif;
  
}

.filter-header{
  
  width: 300px;
  height: 50px;
  margin: -25px -25px;
  border-radius: 9px 9px 0px 0px;
  background-color: rgb(189, 189, 189);
  padding-right: 10px;

}

div.summary-widget
{
  position: relative;
  width: 400px;
  height: 200px;
  margin: 50px auto;
  background-color: #fcfdfd;
  
  border-radius: 9px;
  padding: 25px;
  padding-right: 10px;
  box-shadow: 0px 20px 40px -26px #080c21;
}

/* filter widget for md and sm screen display */

.filter-widget{
  position: relative;
  width: 400px;
  height: 50px;
  margin: 5px 5px;
  background-color: #fcfdfd;
  
  border-radius: 9px;
  padding: 25px;
  padding-right: 10px;
  box-shadow: 0px 20px 40px -26px #080c21;
}

#filter-title{
  padding: 8px 12px;
}

#minimise{
  float: right;
  cursor:pointer;
}

.filter-body{
  padding-top: 60px;
}

.range-values {
  font-weight: 600;
}

.range-values b{
  font-size: small;
  color: #999999;
}



@media (max-width: 1400px) {
  .weather-details {
    display: contents;
  }
  .summary-widget {
    order: -1;
    width: 100%;
    margin-bottom: 0;
  }

  .button-reorder{
    order: -1;
    color: #080c21;
  }

  .weather-widget{
  order: 2;
  position: relative;
  width: 100%;
  height: 85%;
  margin: 50px auto;
  background-color: #fcfdfdd3;
  
  border-radius: 9px;
  padding: 0px;
  box-shadow: 0px 20px 40px -26px #080c21;
  font-family: 'Roboto', sans-serif;
}

.filter-header{
  
  width: 100%;
  height: 50px;
  border-radius: 9px 9px 0px 0px;
  background-color: rgb(189, 189, 189);
  margin-left: 0px;
  

}

.filter-body{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 25px;
  padding-top: 40px;
  
}

.filter-body form{
  width: 100%;
}

div.wrapper{
  width: 45%;
  float: left;
  padding: 0px 0px;
  padding-bottom: 5%;
}

.direction-filter{
  width: 45%;
  float: right;
  padding-top:0px;
  padding-bottom: 5%;
}
  
}

/* Direction checkbox styling */

.check-container {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  margin:0 auto;
  row-gap: 5px;
}



.form-check-input:checked + .form-check-label {
  background-color: #3264fe;
  color: #ffffff;
}

label {
  width:50px;
  text-align:center;
  background:#ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color:#222222;
  padding:0.5%;
  margin:0.5%;
  cursor:pointer;
  border: solid 1px black;
  border-radius: 50px;
  
    
   
}

input[type ="checkbox"]{
  opacity: 0;
}

input[type="checkbox"][class='form-check-input']:checked + label {
  background-color:#3264fe;
  border: solid 1px #3264fe;
}



/* Table column fixing */

#wd,#ws, #wea, #tim, #tem, #cl, #vis{
  position: sticky;
  left: 0;
  background-color: #ffffff;
  border-right: solid 1px gray;
  z-index: 999;
  opacity: 1;
}


.image-divider{
    width: 230px;
    height: 200px;
    border-radius: 9px 0px 0px 9px;
    /* margin: -25px; */
    opacity: 0.5;
    
}

.tint{
    width: 230px;
    height: 200px;
    border-radius: 9px 0px 0px 9px;
    margin: -25px;
    background: #74A9A5;
}

div.left-panel{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    
}

.left-details{
    position: absolute;
  float: left;
  margin-left: 10px;
  top: 60px;
  margin-top: 10px;
  max-width: 230px;
}

div.date
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.location
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}


div.panel
{
  display: inline-block;
  z-index: 99;
  
}

div.right-panel
{
  position: absolute;
  float: right;
  margin-right: 20px;
  top: 0;
  margin-top: 5px;
  right: 0;
  font-family: 'Roboto', sans-serif;
  
} 

div.temp
{
  font-size: 45px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
  text-align: right;
  max-height: 60px;
}

.current-wind{
  text-align: center;
  
}

div.current-conditions
{
  text-align: center;
  align-content: center;
  max-height: 60px;
  margin-bottom: 10px;
}

/* Filter Card */
#filter-card{
  display: inline-block;

}

.filter-left{
  max-width: 45%;
  margin-right: 0;
  padding-right: 5%;
}

.filter-right{
  float: right;
  top: 50px;
  position: absolute;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  right: 10px;
  font-family: 'Roboto', sans-serif;
}

.apply-filter{
  align-items: center;
  padding: 10px;
  padding-top: 25px;
}

.apply-filter button{
  width: 100%;
  padding: 8px;
  background-color: #3264fe;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    color: #ffffff;
    border: transparent;
    cursor: pointer;
}

/* Dual Range SLider */

.wrapper{
    position: relative;
    padding-top: 10px;
    border-radius: 10px;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif
}
.range-container{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: #3264fe;
    cursor: pointer;
    margin-top: -5px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1em;
    width: 1em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}
.values{
    background-color: #3264fe;
    width: 32%;
    position: relative;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #fcfdfdd3;
}
.values:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    right: 0;
}