
#backgroundImage{
    background-attachment: fixed;
}

#navBar{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .5);
    font: rgba(255, 255, 255, 0.1);
}

#homeLabel{
    color: black;
}

#homeIcon{
    padding: 10px;
    
}

#weather-table{
    box-shadow: 0px 31px 35px -26px #080c21;
}

#wind-direction{
    font-family:"Segoe UI Symbol";
}


*
{
  margin: 0;
  padding: 0;
  outline: none;
}

.first-row{
  display: flex;
  flex-direction: row;
}

div.summary-widget
{
  position: relative;
  width: 400px;
  height: 200px;
  margin: 100px auto;
  background-color: #fcfdfd;
  
  border-radius: 9px;
  padding: 25px;
  padding-right: 10px;
  box-shadow: 0px 20px 40px -26px #080c21;
}

div.filter-container{
  position: relative;
  width: 400px;
  height: 200px;
  margin: 100px auto;
  background-color: #fcfdfd;
  
  border-radius: 9px;
  padding: 25px;
  padding-right: 10px;
  box-shadow: 0px 20px 40px -26px #080c21;
}


.image-divider{
    /* position: absolute; */
    /* background-image: url('https://images.unsplash.com/photo-1595892908898-3e2631c321dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    background-size:cover; */
    /* background-color:dodgerblue; */
    width: 230px;
    height: 200px;
    border-radius: 9px 0px 0px 9px;
    /* margin: -25px; */
    opacity: 0.5;
    
}

.tint{
    width: 230px;
    height: 200px;
    border-radius: 9px 0px 0px 9px;
    margin: -25px;
    background: rgb(218, 82, 32);
    background: rgb(32, 218, 162);
}

div.left-panel
{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    
     
}

.left-details{
    position: absolute;
  float: left;
  margin-left: 10px;
  top: 60px;
  margin-top: 10px;
  max-width: 230px;
}

div.date
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.location
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
  
}


div.panel
{
  display: inline-block;
  /* padding-left: 10px;
  padding-inline: 20px; */
  z-index: 99;
  
}

div.right-panel
{
  position: absolute;
  float: right;
  margin-right: 20px;
  top: 0;
  margin-top: 5px;
  right: 0;
  /* padding-left: 10px; */
  font-family: 'Roboto', sans-serif;
  
} 

div.temp
{
  font-size: 45px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
  text-align: right;
  max-height: 60px;
}

.current-wind{
  /* padding-top: 10px; */
  text-align: center;
  
}

div.current-conditions
{
  /* font-size: 60px;
  color: rgba(0,0,0,0.9);
  font-weight: 100; */
  text-align: center;
  align-content: center;
  max-height: 60px;
  margin-bottom: 10px;
}

/* Filter Card */
#filter-card{
  display: inline-block;

}

.filter-left{
  /* float: left; */
  max-width: 45%;
  margin-right: 0;
  padding-right: 5%;
}

.filter-right{
  /* position: absolute; */
  float: right;
  top: 50px;
  position: absolute;
  float: right;
  margin-right: 20px;
  /* top: 0; */
  margin-top: 5px;
  right: 10px;
  /* padding-left: 10px; */
  font-family: 'Roboto', sans-serif;
}

.apply-filter{
  padding: 10px;
  
}

.apply-filter button{
  width: 100%;
  padding: 8px;
  background-color: #3264fe;
  /* font-family: 'Roboto', sans-serif; */
  padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    border: transparent;
}

/* Dual Range SLider */

.wrapper{
    position: relative;
    /* width: 95vmin; */
    /* width: 80%; */
    background-color: #ffffff;
    /* padding: 50px 40px 20px 40px; */
    border-radius: 10px;
}
.range-container{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: #3264fe;
    cursor: pointer;
    margin-top: -5px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1em;
    width: 1em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}
.values{
    background-color: #3264fe;
    width: 32%;
    position: relative;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
}
.values:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    /* border-top: 15px solid #3264fe;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent; */
    /* margin: auto; */
    /* bottom: -14px; */
    left: 0;
    right: 0;
}